#container{

    height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap:15px;
    column-gap: 15px;

}

.item{
    height: 200px;
    width:500px;
}

.box1{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2{
    background-color:green;
    display: flex;
    justify-content: center;
    align-items: center;
}.box3{
    background-color:blue;
    display: flex;
    justify-content: center;
    align-items: center;
}.box4{
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:700px) {

    #container{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 50px;
    }


    
}

    



